@import 'libs/_bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@import 'blocks/_modal.scss';
@import 'blocks/_columns';
@import 'blocks/menu';
@import 'blocks/_btns';
@import 'blocks/_media';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}