@import 'libs/_bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@import 'blocks/_modal.scss';
@import 'blocks/colomns';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

.info {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
}

.notification {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s all;
    background: rgba($color: #fff, $alpha: 0.7);
    &__active {
        display: block;
    }
}